body	{
	background-color:#5F9EA0;
	}
h1	{
	color:#0000FF;
	text-align:center;
	font-weight:bold;
	font-size:2.5em;
	}
h2	{
	color:#0000FF;
	text-align:left;
	font-weight:bold;
	font-size:2em;
	}
h3	{
	color:#0000FF;
	text-align:left;
	font-weight:bold;
	font-size:1.5em;
	}
h4	{
	color:#0000FF;
	text-align:right;
	font-size:1.2em;
	}
h5	{color:#0000FF;}
h6	{color:#0000FF;}
p	{
	color:#0000FF;
	font-family:Ariel,Sans-serif;
	}
a:link	{color:#000000;}
a:visited{color:#4B0082;}
a:hover	{color:#FFFACD;}
a:active{color:#FF0000;}